<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410965279079-5dsa35637tsbnuf2dhqc6rchp9v8r811.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410965279079-5dsa35637tsbnuf2dhqc6rchp9v8r811</string>
	<key>API_KEY</key>
	<string>AIzaSyBIhmLm3wQ10j3swLOjS2Bf4aLCTcyVbVM</string>
	<key>GCM_SENDER_ID</key>
	<string>410965279079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yohann.locationdemaison</string>
	<key>PROJECT_ID</key>
	<string>locationmaison-407ae</string>
	<key>STORAGE_BUCKET</key>
	<string>locationmaison-407ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410965279079:ios:611e1dd93ada6fcbef2fc2</string>
</dict>
</plist>